/*reset*/
body, button, input, select, textarea {
	font: 12px/1.125 Arial, Helvetica, sans-serif;
	_font-family: "SimSun";
	color: #666
}
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
	margin: 0;
	padding: 0
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
li {
	list-style: none
}
fieldset, img {
	border: 0
}
q:before, q:after {
	content: ''
}
input, textarea {
	outline-style: none
}
input[type="text"], input[type="password"], textarea {
	outline-style: none;
	-webkit-appearance: none
}
textarea {
	resize: none
}
address, caption, cite, code, dfn, em, i, th, var {
	font-style: normal;
	font-weight: normal
}
legend {
	color: #000
}
abbr, acronym {
	border: 0;
	font-variant: normal
}
a {
	text-decoration: none;
	color: #999
}
a:hover {
	text-decoration: none
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden
}
.clearLeft {
	clear: left
}
.clearRight {
	clear: right
}
/*slider*/
.zq_homeView {
	width: 100%;
	background: #fff;
	padding-bottom: 25px;
	padding-top: 15px
}
.zq_homeView .zq_pictureBox {
	height: 360px;
	max-width: 2232px;
	min-width: 960px;
	overflow: hidden;
	position: relative;
	margin: 0 auto 15px
}
.zq_homeView .zq_pictureBox .zq_pictures {
	width: 5952px;
	height: 360px;
	overflow: hidden;
	position: absolute
}
.zq_homeView .zq_pictureBox .zq_pictures a {
	width: 720px;
	height: 360px;
	float: left;
	display: inline;
	margin: 0 12px
}
.zq_homeView .zq_pictureBox .zq_pictures a img {
	width: 720px;
	height: 360px;
	display: block
}
.zq_homeView .zq_imgBox {
	width: 740px;
	margin: 0 auto;
	position: relative
}
.zq_homeView .zq_imgBox .zq_imgs {
	width: 740px;
	_width: 743px
}
.zq_homeView .zq_imgBox .zq_imgs a {
	width: 130px;
	height: 50px;
	border: 1px solid #fff;
	float: left;
	display: inline;
	margin: 0 8px
}
.zq_homeView .zq_imgBox .zq_imgs a:hover {
	border: 1px solid #1abc9c
}
.zq_homeView .zq_imgBox .zq_imgs a.currentImg {
	border: 1px solid #1abc9c
}
.zq_homeView .zq_imgBox .zq_imgs a img {
	width: 130px;
	height: 50px;
	display: block
}
.zq_homeView .zq_imgBox .zq_slides a {
	display: block;
	width: 30px;
	height: 39px;
	position: absolute;
	top: 9px
}
.zq_homeView .zq_imgBox .zq_slides a em {
	display: block;
	width: 22px;
	height: 35px;
	background: url("../images/all.png") no-repeat scroll;
	margin: 2px 4px
}
.zq_homeView .zq_imgBox .zq_slides a.zq_slideLeft {
	left: -45px
}
.zq_homeView .zq_imgBox .zq_slides a.zq_slideLeft em {
	background-position: -187px -47px
}
.zq_homeView .zq_imgBox .zq_slides a.zq_slideRight {
	right: -45px
}
.zq_homeView .zq_imgBox .zq_slides a.zq_slideRight em {
	background-position: -210px -47px
}
.zq_homeView .zq_mask {
	width: 732px;
	height: 360px;
	position: absolute;
	background-color: #fff;
	opacity: .8;
	filter: alpha(opacity=80);
	top: 0
}
.zq_homeView .zq_maskLeft {
	left: 0
}
.zq_homeView .zq_maskRight {
	right: 0
}
